.hero-img{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 68vh;
    position: relative;

}





.hero-img {
    position: relative;
    height: 400px; /* Set the height of your hero image */
    background: url("https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat; /* Replace with your image path */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Set text color to white or a suitable contrasting color */
    text-align: center;
  }



.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}


.hero-img p { 
    font-size: 1.4rem;
    text-align: center;



}


@media  screen and (max-width: 640) {

    .hero-img h1{
        font-size: 2rem;
    }
    
}