

.work-container{

    width: 100vw; /* Full viewport width */
    padding: 6rem 1rem;
    background: url("https://images.unsplash.com/photo-1520509414578-d9cbf09933a1?q=80&w=1904&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")  ; /* Replace with your image path */




}



.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;

    

}

.project-container{
    

    max-width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    padding-bottom: 5rem;



}




.project-card{
    background-color: #010505bb;
    padding: 1.2rem 1rem;


}



.project-card img{
    width: 100%;
    

}


.project-title{
    color: #fff;
    padding: 1rem 0;
}

.details{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

@media screen and (max-width=740px){

    
    .project-container{

        max-width: 90%;
        margin: auto;
     
    grid-template-columns: 1fr;
    
    }
    
}


